* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.barranavega {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  font-size: 17px;
}

.barranavega .nav-link{
  color: black;
  font-family: 'Montserrat Alternates', sans-serif;
}

.nav{
  .nav-item{
  color: white;
  }
}
.navbar-brand{
  color: #f3f3f3;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.card-containerone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-containerthree {
  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	margin: 25px;
    gap: 25px;
}

.letrita {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

.letrita2 {
  font-family: 'Ysabeau Office', sans-serif;
}

.letritapre {
  font-family: 'Dosis', sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.tituloscont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh; 
}

.texto {
  display: flex;
  justify-content: center;
}

.titul {
  text-align: center;
}

.logito{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17vh;

} 

.butoncard {
  background-color: black;
  color: beige;
}

.cargando {
	display: flex;
	justify-content: center;
	margin: 40px;
}





